body {
  padding-top: 50px;
}   

@font-face{
  font-family: "Lazer84";
  src: url('../assets/Lazer84.ttf');
}

@font-face{
  font-family: "retganon";
  src: url('../assets/retganon.ttf');
}

h1{
  font-family: "Lazer84"
}

p{
  font-size: 1.5em;
  font-family: "retganon"
}

.sponsor:hover{
  opacity:0.3;
}

a:hover{
  color:black;
}

.clear {
  margin-top:60px;
  margin-bottom:60px;  
}       
.block1 {
  height: 440px;
  margin-bottom:60px;  
} 
.block2 {
  height: 200px; 
}     
.bg-clr {
  background: linear-gradient(#FF6AD5, #8795E8);  
  background-attachment: fixed;
}
.bg-clr-blk {
  background-color: black;  
} 
.section-max-width {
  max-width:800px; 
}


#map{
  width:800px;
  margin-top:30px;
}

b {
  color:black;  
}